# Python
__pycache__/
*.py[cod]
*.so

# Virtual environments
.venv/
venv/
env/

# uv
.uv/

# Ruff
.ruff_cache/

# Type checking
.mypy_cache/

# Testing
.pytest_cache/
.coverage


# Environment variables
.env

# Development
ignore/

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/